### 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding='cp949')
df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,15623999,130,...,0,0,130,0,0,0,0,0,130,6
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8761157030,5252,...,0,1928,3218,0,35,323,1117,1568,2102,6
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1002103834,19369,...,667,7517,10367,287,4923,6172,3849,1886,766,5
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,290779648,2242,...,0,1483,730,30,560,647,742,116,120,6
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300024,운동/경기용품,1594646019,2204,...,0,1564,492,0,0,43,278,429,1305,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68863,2022,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,46710839,136,...,0,96,40,0,0,0,120,16,0,3
68864,2022,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,20931521,2018,...,0,955,1009,0,382,342,380,581,279,*
68865,2022,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5119924,159,...,18,115,18,0,0,18,18,54,44,*
68866,2022,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,92420017,10197,...,0,5872,3689,26,401,1191,2273,3093,2576,3
68867,2022,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,681810073,26389,...,98,15940,7749,110,926,2092,4267,7202,9093,11

In [4]:
len(df['상권_코드_명'].unique())

1650

In [6]:
상권코드 = list(df['상권_코드_명'].unique())
print(상권코드)

['강남 마이스 관광특구', '잠실 관광특구', '종로?청계 관광특구', '동대문패션타운 관광특구', '명동 남대문 북창동 다동 무교동 관광특구', '이태원 관광특구', '고덕 골목형상점가', '명일전통시장', '길동복조리시장', '둔촌역전통시장', '고분다리전통시장', '장신구 특화거리 상점가', '암사종합시장', '성내전통시장', '로데오거리상점가', '마천중앙시장', '마천시장', '문정동 로데오거리 상점가(문정동 로데오거리)', '풍납시장', '방이시장', '석촌시장', '새마을시장', '강남개포시장', '청담삼익시장', '도곡시장', '강남언주로', '논현종합시장', '신사상가', '영동전통시장', '강남시장(강남구 강남시장)', '양재시장', '엔터식스 강남점', '강남터미널지하도상점가2구역', '남부종합시장', '인헌시장(원당종합시장)', '관악중부시장', '봉천중앙시장', '봉천현대시장', '봉천제일종합시장', '영림시장', '봉일시장', '신림현대종합상가', '삼성동 시장(삼성동시장)', '신신림시장(삼성동시장)', '서원동상점가', '관악종합시장(신원시장)', '신원시장', '난곡 골목형상점가', '우림시장', '신림종합시장', '관악신사시장', '미성동 도깨비시장 골목형상점가', '조원동 펭귄시장(신림중앙시장)', '신림중앙시장(조원동 펭귄시장)', '강남골목시장', '사당1동먹자골목상점가(사당1동먹자골목)', '남성사계시장(남성시장)', '사당시장', '남성역골목시장', '흑석시장', '강남시장(동작구 강남시장)', '상도전통시장', '본동인정시장(기능상실)', '만양로상점가', '노량진중앙시장', '상도약수골목형상점가', '신노량진시장(기능상실)', '상도도깨비 골목형상점가', '성대전통시장(성대시장)', '신대방1동골목상권', '영진시장A동', '영등포시장기계공구상가', '신동시장', '영등포전통시장', '남서울상가', '영신상가(제일상가)', '영등포로타리지하도상점가', '삼구시장(로타리상가)', '동남상가', '영등포역지하도상점가', '우리시장', '영등포청과시장(조광시장)', '영일시장', '대림중앙시장', '도림시장', '대림중앙 골목형상점가', '선유도역 골목형상점가', '영등포유통상가', '은행나무시장', '박미시장(기능상실)', '비단길현대시장(현대시장)', '대명여울빛거리시장(대명시장)', '남문시장', '독산동 맛나는거리상점가(독산동 맛나는거리)', '독산동 우시장', '가리봉시장', '남구로시장', '구로시장', '고척골목시장상점가(그라운드 고척)', '고척프라자', '개봉중앙시장', '개봉프라자(고척근린시장)', '고척근린시장', '오류시장', '남부골목시장(남부화곡시장 남부시장)', '등마루시장', '까치산시장', '신월중앙시장', '화곡본동시장', '화곡중앙시장', '대원종합시장', '송화벽화시장(송화골목시장)', '방신전통시장', '공항시장', '신정2동 골목시장(오목교중앙시장)', '목2동시장', '목사랑시장(목4동시장)', '목동깨비시장(목3동시장)', '신정1동 골목시장(신정제일시장)', '신정3동 골목시장', '신곡종합시장(신월6동 골목시장)', '경창시장', '서서울 골목형상점가', '신영시장', '월정로시장', '신월7동 골목시장(약수시장 우성상가)', '신월3동 골목시장', '아현시장', '마포시장', '공덕시장', '도화동 상점가', '용강동 상점가', '신수시장', '동진시장', '홍대 걷고싶은 거리', '홍대소상공인상점가', '서교시장', '합정시장', '영진시장', '망원시장', '망원월드컵시장', '마포농수산물시장', '상암동상점가', '영천시장', '아현가구거리상점가', '포방터시장', '이화여대 357길 상점가', '이대 앞 스타트업 상점가', '인왕시장(홍제골목형상점가)', '유진상가', '신촌 상인회(신촌상점가)', '연희사러가', '백련시장', '모래내시장(서중시장)', '불광먹자골목 골목형상점가', '제일시장', '대조시장', '연서시장', '연신내상점가(연빛거리)', '응암시장(신응암시장)', '대림골목시장(대림시장 양지시장)', '역촌중앙시장', '응암오거리상점가', '증산골목시장', '증산종합시장', '수일시장', '공릉동 도깨비시장', '상계중앙시장', '상계주공1단지(가)상가', '창동역상점가', '오!도봉거리 상점가', '신도봉시장', '창동골목시장', '창동신창시장', '방학동도깨비시장', '쌍문역동측상점가', '쌍문시장(쌍문역골목시장)', '쌍문역둘리상점가', '백운시장', '방천골목시장', '강북북부시장', '강북북부골목시장', '숭인시장', '강북종합전통시장(강북종합골목시장)', '수유프라자', '수유전통시장(수유시장 수유골목시장)', '수유재래시장', '수유중앙골목시장(수유중앙시장)', '솔샘시장(미아67동골목시장)', '우이골목시장(우이시장)', '삼양골목시장(삼양시장)', '동북프라자', '수유북부골목시장', '장미원골목시장', '돌곶이시장(석관황금시장)', '석관시장', '새석관시장', '장위전통시장', '꿈의숲 장곡 골목형상점가', '밤나무골시장', '길음시장', '돈암시장(돈암제일시장)', '정릉아리랑시장', '정릉골 골목형상점가', '정릉시장', '동성타워프라자', '우림골목시장', '유영시장', '신아타운', '사가정시장', '동원전통종합시장(동원시장 동원전통시장 상점가)', '면목골목시장(면목시장)', '묵1동도깨비시장', '태능엔터피아(태릉시장)', '중랑동부시장(중랑교종합상가)', '중랑동부시장', '장미제일시장(중화동제일시장)', '전곡시장', '이경시장', '이문제일시장', '답십리현대시장', '답십리시장', '전농로터리시장', '회기시장', '답십리 건축자재시장', '동부시장', '청량리전통시장', '청량리청과물시장', '동서시장', '청량리농수산물시장', '청량종합도매시장', '청량리종합시장', '청량리수산시장', '경동시장', '경동광성상가(경동시장)', '서울약령시장', '용두시장', '신성시장(신성골목시장)', '중곡제일시장(중곡제일골목시장 광성시장)', '면곡골목시장', '자양골목전통시장(자양골목시장)', '한아름시장', '화양제일골목시장', '조양시장', '능동로골목시장', '노룬산시장(노룬산골목시장)', '영동교골목시장', '뚝도시장', '성동용답상가시장', '성수역 골목형상점가', '뚝섬역상점가', '한양대앞상점가(한양시장 왕십리맛골목)', '마장축산물시장', '왕십리도선동상점가', '행당시장상점가', '무학봉상점가', '금남시장', '신금호역 골목형상점가', '보광시장', '이태원시장', '신흥시장', '후암시장', '이촌종합시장', '만리시장', '용산용문시장', '황학시장(서울중앙시장 신중앙시장)', '황학동주방가구거리상점가', '백학시장', '서울중앙시장(신중앙시장)', '동화동 골목형상점가', '청평화시장', '신당 미래유산 먹거리 골목형상점가', '동평화시장', '테크노상가(엘리시움)', 'team204(팀204)', '광희패션몰', '에리어식스(벨포스트)', '제일평화시장', '약수시장', '신평화패션타운(청계6가 지하도상가)', '남평화시장', '청계6가 지하도상가', '평화시장(통일상가 동화상가)', '중부시장(신중부시장)', '방산종합시장(방산시장)', '필동 골목형상점가', '대림상가(청계상가)', '인현시장', '청계천공구상가', '을지로지하보도쇼핑센터(을지입구지하상가)', '명동지하쇼핑센터(소공동지하쇼핑센터)', '소공지하도상가', '삼익패션타운(남대문시장)', '남대문시장(자유상가)', '숭례문수입상가(남대문시장)', '동묘시장(동묘벼룩시장)', '동대문상가D동', '동대문문구완구거리(동대문문구완구시장)', '동대문상가C동', '창신골목시장', '동문시장', '동대문상가A동', '동대문종합시장(동대문종합시장 신관 동대문종합시장D동상가)', '충신시장', '종로신진시장', '마전교지하쇼핑센터(구 한일상가)', '광장시장(광장전통시장)', '세운상가가동', '낙원시장(낙원지하시장(대일상가))', '세종마을음식문화거리(금천교시장)', '통인시장', '고덕역', '명일역', '굽은다리역', '길동역', '둔촌역', '암사역', '천호역', '강동구청역', '거여역', '개롱역', '오금역', '방이역', '경찰병원역', '장지역(가든파이브)', '문정역', '가락시장역', '몽촌토성역', '송파나루역', '가락시장', '송파사거리(송파역)', '방이동먹자골목', '석촌역(석촌호수)', '잠실역', '석촌고분역', '잠실새내역(신천)', '수서역', '휘문고교사거리', '삼성역', '봉은사역', '대치역', '은마아파트', '코엑스', '대치사거리', '경기고교사거리(경기고교앞사거리)', '포스코사거리', '영동대교남단교차로', '삼성중앙역', '한티역', '도성초등학교', '선릉역', '강남구청(청담역_8번 강남세무서)', '청담사거리(청담동명품거리)', '선정릉역', '개나리아파트', '매봉역', '르네상스호텔사거리', '강남구청역', '압구정로데오역(압구정로데오)', '도곡1동', '학동사거리', '경복아파트교차로', '구역삼세무서', '역삼역', '서울세관', '성수대교남단', '언주역(차병원)', '도산공원교차로', '뱅뱅사거리', '학동역', '강남을지병원', '강남역', '압구정역', '신논현역', '가로수길', '논현역', '포이사거리(삼호물산)', '양재천카페거리', '양재시민의숲역(양재동꽃시장 aT센터)', '교육개발원입구사거리', '양재화물트럭터미널앞', '양재역', '신사역', '신논현역 1번', '논현역 4번', '남부터미널역', '논현역 5번', '교대역(법원.검찰청)', '교대입구교차로', '서초3동사거리', '삼호가든사거리', '서초역', '서울고교교차로', '고속터미널(고속터미널역)', '방배역', '서래마을카페거리(서래마을)', '내방역', '사당역 11번(사당역먹자골목)', '방배동카페골목', '방배동가구거리(사당동가구거리)', '사당역(사당)', '서울대입구역', '녹두거리(대학동)', '신림역(신림)', '총신대입구역(이수 총신대)', '총신대학교', '장승배기역', '노량진역(노량진)', '신대방삼거리역', '보라매공원', '63빌딩', '여의도역(여의도)', '국회의사당역(국회의사당)', '보라매역', '한강성심병원', '영등포역(영등포)', '영중로', '당산역', '대림역', '영등포청과시장교차로', '문래동주민센터', '대림3동사거리', '당산2동(영등포우체국)', '문래역(문래로데오거리)', '영등포구청역', '양평역', '구로전화국', '서울시흥동우체국(홈플러스시흥점)', '독산동', '가산디지털단지', '구로디지털단지역', '구로디지털단지', '신도림역', '구로구청', '디지털단지오거리', '구로역', '개봉동 현대아파트', '오류동역', '강서구청', '까치산역', '화곡역', '발산역(마곡)', '마곡역(마곡)', '강서농산물도매시장', '송정역', '김포공항역(김포공항)', '목동신시가지', '오목교역', '등촌역', '목동사거리', '목동역 8번출구', '서울남부지방법원', '신정네거리역', '공덕역(공덕오거리)', '마포역', '상수역(홍대)', '연남동(홍대)', '홍대입구역(홍대)', '서교동(홍대)', '합정역', '망원역', '월드컵경기장역(월드컵경기장)', 'DMC(디지털미디어시티)', '충정로역', '이화여대(이대역 이대)', '홍제역', '신촌역(신촌역 신촌로터리)', '연희동', '불광역', '본서부병원', '연신내역', '구파발역', '구산역', '응암역', '태릉입구역', '은행사거리', '공릉역', '등나무근린공원', '상계백병원', '노원역', '마들역', '창동역', '미아사거리역', '미아역', '수유역', '월곡역', '안암역', '미아사거리', '성신여대', '성북구청', '한성대입구역', '상봉역', '사가정역', '장안동사거리', '장한평역(장한평)', '회기역', '경희대학교(경희대)', '청량리역(청량리)', '신설동역', '올림픽대교북단', '강변역(테크노마트)', '구삼강변맛길', '구의사거리', '아차산역', '구의역', '군자역', '어린이대공원역', '건대입구역(건대)', '성수역', '뚝섬역', '서울숲역', '왕십리역(왕십리)', '금호역', '한남오거리', '이태원(이태원역)', '남영동 먹자골목', '삼각지역', '서울역', '숙대입구역(남영역 남영동)', '신용산역(용산역)', '용산전자상가(용산역)', '신당역', '약수역', '동대문역사문화공원역', '장충동족발거리(남소영길)', '퇴계로5가', '중구청(퇴계로4가)', '을지로4가역', '충무로역', '을지로3가역', '중부경찰서(영화인의거리)', '을지로2가', '명동(명동거리)', '명동역(명동재미로)', '을지로입구역', '롯데백화점(시청광장 지하쇼핑센터)', '회현역', '서울시청', '북창동(시청역_6번)', '시청역_8번', '시청역_1번', '경찰청앞교차로', '중림동', '동묘앞역(동묘)', '동대문역', '종로6가', '종로5가역', '이화사거리', '대학로(혜화역)', '종로4가', '원남동사거리', '종로3가역', '인사동', '북촌(안국역)', '종각역', '삼청동', '종로구청', '광화문역', '서촌(경복궁역)', '서대문역', '강일동주민센터', '상일여고(상일초등학교)', '고덕동성당', '고덕중학교(고덕2동주민센터)', '한영중고', '묘곡초등학교(고덕아이파크아파트)', '길동신동아아파트', 'GS강동자이아파트', '중앙보훈병원', '둔촌푸르지오아파트', '굽은다리역 3번', '둔촌고등학교(둔촌중학교)', '굽은다리역 4번', '길동주민센터(강동도서관)', '둔촌2동주민센터', '굽은다리역 2번', '명일역 1번', '둔촌동역 1번(한산중학교)', '굽은다리역 1번(십자성마을)', '천동초등학교', '천호초등학교', '천호1동주민센터', '강동성심병원', '강동구립성내도서관', '암사동성당(효정하나플러스아파트)', '천일초등학교', '둔촌동역 4번', '강동구립 천호도서관', '둔촌동역 3번(성내3동주민센터)', '암사역 1번', '암사역 2번(서울강동초등학교)', '강동역 4번(강풀만화거리)', '성내중학교', '천호공원(해공체육문화센터)', '천호태영아파트', '선사초등학교', '암사역 4번(삼성광나루아파트)', '성내천어린이공원(하니사랑길)', '암사역 3번(천호동자전거거리)', '천호역 6번', '강동구청(강동구청역 2번)', '천호지구대(천호동자전거거리)', '천호역 1번(천호문구완구거리)', '마천1치안센터', '마천역(마천초등학교)', '개미어린이공원', '남천초등학교', '마천공원', '거여역 1번(거여공원)', '거여역 8번', '거여초등학교', '벌말어린이공원', '보인중학교', 'Sh수협은행 오금동금융센터(아랫말어린이공원)', '투구봉어린이공원', '오금공원(오주중학교)', '오동나무공원(송파레미니스1단지)', '문정동성당', '방이역 1번', '장지동주민센터(한림연예예술고교)', '방이역 2번', '오금역 4번', '문현중학교(장지역 1번)', '문정초등학교', '문정역 2번', '경찰병원역 3번', '경찰병원역 4번(건너말공원)', '문정역 1번', '석촌중학교(방이육교)', '방이역 4번', '방이동고분군(방산고등학교)', '한성백제역 3번', '풍납초등학교(풍납백제문화공원)', '송파나루역 3번', '송파역 2번', '석촌역 3번', '송파나루역 2번', '송파나루역 1번(송리단길)', '석촌역 6번', '잠실나루역', '석촌역 7번', '송파책박물관', '석촌고분역 3번', '석촌고분역 4번', '석촌고분역 1번', '삼전역 3번', '삼전역 1번', '삼전역 4번', '한국교통안전공단 강남자동차검사소', '아래방죽마을공원(율현초등학교)', '대왕초등학교(세곡동사거리서남측)', '윗방죽마을공원', '은곡마을(은곡마을공원)', '대청초등학교', '대치2동주민센터', '봉은사역 4번', '개포고등학교', '도곡초등학교', '삼성중앙역 5번', '청담역 12번', '대치동아우편취급국', '청담역 3번', '영동대교남단', '삼성중앙역 7번', '청담근린공원', '포이초등학교(개포목련어린이공원)', '국립국악고등학교', '강남구보훈회관', '국악고교사거리', '개포지구대옆', '청담초등학교', '도곡2동주민센터(대치중학교)', '논현로18길', '언북초등학교', '매봉역 1번', '언주중학교', '강남구청역 4번', '강남세브란스병원미래의학연구센터', '선정릉역 4번', '학동초등학교', '베르사이유1아파트', '강남구청역 2번', '역삼역 8번', '논현2동주민센터', '언주역 6번', '싸리고개근린공원', '역삼월드메르디앙아파트', '도산공원북측', '언주역 3번', '은광여고', '신구중학교', '역삼역 4번', '언북중학교', '언주역 8번', '논현초등학교', '국기원', '학동근린공원', '논현목련공원', '신사은행나무공원', '논현역 7번', '한남IC', '헌인가구단지', '청계산입구역 2번(내곡동주민센터)', '청계산원터골', '본마을노인복지센터(서초구립내곡도서관)', '서울나래학교(염곡어린이공원)', '법제교육센터(버들어린이공원)', '염곡동 구룡사(포이동성당)', '언남고등학교', '양재근린공원(양재2동주민센터)', '양재역 8번(양재동우체국)', '바우뫼공원', '방아다리근린공원(횃불트리니티신학대학원대학교)', '더케이호텔(양재리본타워2단지아파트)', '한전아트센터', '우면주공아파트', '한국상담대학원대학교', '서울시인재개발원', '삼성전자서울R&D(서울우면초등학교)', '서초동성당', '남부터미널역 1번', '서초우방유쉘아파트', '잠원역', '신중초등학교', '서초중학교', '반포4동주민센터(몽마르뜨공원)', '방배역 1번', '내방역 1번', '서울프랑스학교', '방배역 2번(백석예술대학교)', '내방역 8번', '방배역 3번', '서초소방서', '내방역 4번', '서래초등학교', '내방역 6번', '방현초등학교(방배119안전센터)', '방배동사이길', '방배배수지체육공원', '내방역 5번', '남태령역(서울전자고등학교)', '구반포역', '방배초등학교', '서문여고', '방배노인종합복지관(이수중학교)', '이수역 5번', '방배아이파크아파트', '사당역 4번', '인헌고등학교(인헌중학교)', '낙성대역 1번(관악구민 종합체육센터)', '낙성대역 5번(관악중학교)', '청림동주민센터(상도중학교)', '서울대입구역 8번', '관악우성아파트', '샤로수길', '관악동부센트레빌아파트(은천로35라길)', '관악소방서(문영여고)', '관악구 중앙길', '구암초등학교', '봉천역 1번(관악초등학교)', '봉천역 6번', '청룡동주민센터', '서울산업정보학교(서울삼성초등학교)', '관악해태어린이공원', '영락고등학교', '봉천역 4번(봉천110안전센터)', '은천초등학교(은천교앞)', '신성초등학교', '구립대학경로당(관악산샘말공원)', '신림역 1번', '신림현대아파트', '미림여고', '신림역 8번', '서원동주민센터(신관중학교)', '보라매동주민센터(당곡고등학교)', '원신초등학교(구세군관악영문교회)', '당곡중학교', '신림초등학교', '신원동주민센터', '신림주공2단지(광신고등학교)', '신림역 5번(신림동주민센터 신림동별빛거리)', '남부초등학교', '국제신학대학원대학교(남서울중학교)', '난우중학교', '남강고등학교(남강중학교)', '신림우방아파트', '난우초등학교', '난곡초등학교(난곡동벽화마을)', '관악구신사동주민센터', '호림박물관(성보고등학교)', '난향초등학교', '신대방역 1번', '미성동주민센터', '미성초등학교', '신대방역 2번', '조원동주민센터', 'KT구로지사', '이수역 9번', '경문고등학교(동작동성당)', '사당역 10번', '이수역 10번', '양지어린이공원', '예술인마을', '남성역 1번', '사당종합체육관', '흑석2치안센터', '사당5동주민센터', '흑리단길', '중대부중', '중앙대학교', '숭실대입구역 4번', '상도1동주민센터앞', '숭실대입구역 1번', '상도역 5번', '상도역 1번', '동작구자원봉사센터', '상도역 2번', '노량진초등학교', '상도4동주민센터', '상도초등학교', '장승배기역 5번', '노량진역 6번', 'NH농협은행 상도동지점', '장승배기역 4번', '신대방삼거리역 1번', '대방역 3번', '신대방삼거리역 3번', '신대방삼거리역 4번(대림초등학교)', '보라매역 2번', '성남고등학교', '신대방역 4번', '신대방역 3번', '대방역 4번', '대방역 6번', '공군호텔', '서울지방병무청', '보라매역 6번', '신길6동주민센터', '보라매역 4번', '영신초등학교', '장훈고등학교', '신길역 1번', '신길역 3번', '서울시립영등포장애인복지관', '신길새마을금고신길4동지점', '신풍역 1번', '신길2동우편취급국', '신길동홍어거리', '신풍역 6번(신길6동공영주차장)', '영등포동성당', '영등포본동주민센터', '신풍역 2번', 'KT대방빌딩', '한림대학교한강성심병원', '도림초등학교', '영동초등학교', '대림썬프라자', '영등포역 2번', '신풍역 3번', '대림1동주민센터', '대림성모병원', '영등포시장역 3번', '신길3동주민센터', '당산역 8번', '영등포푸르지오아파트', '신대림초등학교', '영등포시장역 1번', '영등포시장역 4번', '대림한신아파트', '신길대성유니드아파트', '대림갑을명가아파트', '구로디지털단지역 4번', '구로세무서', '도신초등학교', '대동초등학교', '당산반도유보라팰리스아파트', '당산역 13번', '신우어린이공원', '대림역 11번', '영등포구청역 6번', '대림차이나타운(대림역 12번)', '도림2동유수지내체육시설', '도림동주민센터', '대림역 5번', '문래동사거리', '문래역 3번', '영등포구청역 2번', '선유도역 1번', '문래동남성맨션', '선유도역 6번', '문래예술촌(문래창작촌)', '문래소공원', '양평역 2번', '문래중학교', '동일여자고등학교', '삼성산자연공원(서울금천초등학교)', '시흥동 은행나무사거리', '한울중학교', '난곡중학교', '시흥4동주민센터(서울신흥초등학교)', '금산초등학교(금천고등학교)', '백산초등학교', '석수역 1번 출입구', '금천금빛공원(은행나무사거리서측)', '독산동정훈단지', '독산동성당', '시흥초등학교(시흥1동우체국)', 'KT금천빌딩(금천구시설관리공단)', '독산2동주민센터', '금천해태공원', '시흥3동 우편취급국', '문성초등학교', '금천세무서', '독산119안전센터', '말미고개', '금천파출소', '금천어울림복지센터', '가산초등학교(세일중학교)', '금천구청역 1번 출입구', '서울축산농협 독산역지점(독산파출소)', '가산동우체국', '두산초등학교', '독산역 1번 출입구', '금천철쭉어린이공원(금하마을)', '가산동주민센터', '금천구립가산도서관', '가산디지털단지역 1번 출입구', 'G타워', '가리봉파출소', '대림역 2번', '영서중학교', '한국SGI본부', '남구로역 2번', '구로나눔길', '구로구민회관', '구로4동주민센터', '구로보건소', '남구로역 5번', '구로초등학교', '남구로역 3번', '구로119안전센터', '화원어린이공원', '구로창업지원센터', '그라운드 고척', '고산초등학교', '고척중학교', '개봉역', '개봉초등학교', '고척동성당', '고척초등학교', '덕의초등학교', '개웅초등학교(개웅중학교)', '개봉3동주민센터', '오류동역 1번', '개봉1동주민센터', '세곡초등학교', '오류동역 4번', '큰굴다리', '개봉중학교', '오류2동버들시장', '오류동역 3번', '오류지구대', '천왕역 3번(오류2동주민센터 서울오류남초등학교)', '수궁동주민센터', '금강수목원아파트', '서울공연예술고등학교', '오류고등학교', '온수역 8번', '온수역 1번', '온수역 5번(온수산업단지)', '염창역 2번', '염창무학아파트', '등촌역 1번', '등촌역 7번', '화곡4동주민센터', '강서구청가양동별관', '뜸부기어린이공원', '백석중학교', '등촌1동주민센터', '신곡초등학교', '화곡보람2차아파트', '화곡2동주민센터', '가양역 10번', 'KC대학교', '곰달래도서관', '강서구청옆', '우장산롯데캐슬아파트앞', '까치산역 1번', '강서새말어린이공원', '등촌3동주민센터', '화곡역 4번', '화곡초등학교', '양천향교역 5번', '까치산역 3번', '발산역 5번', '까치산역 4번', '화곡역 2번', '양천향교역 2번', '화원중학교', '우장산힐스테이트', '우장산역 1번', '양천향교역 7번', '화곡역 5번', '푸른들청소년도서관', '우장산역 4번', '신광명마을', '강서구다솔마을', '정곡초등학교', '공항고등학교', '방화역 1번', '신방화역 8번', '신방화역 2번', '송정역 2번', '방화역 2번', '공항시장역 3번', '송정역 3번', '개화산역 1번', '방화역 3번', '방화초등학교', '공항시장역 1번', '송정역 4번', '신목동역', '신정롯데캐슬아파트', '양화초등학교', '신정2동주민센터', '목동문화체육센터', '갈산공원', '달마을공원', '목동역 5번', '목동보건지소', '목4동주민센터', '강서고등학교', '등촌역 4번', '양목초등학교', '신서초등학교', '목동로데오거리', '신정네거리역 4번', '신정역 5번', '신정역 1번', '계남근린공원', '신정네거리역 2번', '신월2동주민센터', '금빛새마을금고본점', '신한은행 신월동지점', '목동센트럴아이파크앞', '신월4동주민센터', '지향초등학교', '신월시영아파트중문', '신월1동우편취급국', '신월7동주민센터', '신월1파출소', '신월문화체육센터', '신월1동주민센터', '서서울호수공원', '메디힐병원', '신월중학교', '신월3동주민센터', '서울금융고등학교', '충정로역 6번', '만리재', '애오개역 3번', '한겨레신문사', '공덕동주민센터', '서울서부지방법원', '마포경찰서', '아현역 4번', '공덕래미안3차아파트', '이대역 5번', '염리초등학교', '양원초등학교', '마포역 4번', '대흥역 2번', '용강동주민센터', '대흥역 3번', '대흥동주민센터', '서강대학교', '신촌역 6번', '서강대역 1번', '신수동주민센터', 'KB국민은행 서강지점', '홍대땡땡거리', '광흥창역 1번', '광흥창역 6번', '경의선책거리', '홍익대', '홍대입구역 3번', '상수역 3번', '연트럴파크(연남동주민센터)', '상수역 4번', '마포FM', '성산중학교', '경성고등학교', '홍대부속여중고앞', '절두산순교성지', '홍익지구대', '망원역 1번', '가좌역 2번', '성미산체육관', '성서초등학교', '합정역 8번', '새터산', '마포구청역 4번', 'KB국민은행 망원동지점', '양화대교북단', '마포구청역 1번', '망리단길', '중암중학교', '마포구청역 7번', '동교초등학교', '망원나들목체육관', '미근동', '충정로역 3번', '충정로현대아파트', '돈의문센트레빌아파트입구', '영천시장입구', '경기대학교', '충정로역 7번', '아현역 2번', '홍지문', '아현역 1번', '홍제3동주민센터', '서울여자간호대학교', '홍제역 2번', '봉원사', '홍은종합사회복지관', '연희세브란스병원', '홍제성원아파트', '홍제역 3번', '홍제역 4번', '경의중앙 신촌역', '서대문구보건소별관', '서대문구청', '서대문소방서', '정원여중', '홍은중학교', '서대문우체국', '연희파출소', '연희지하차도', '연희초등학교', '홍연시장', '연희대우아파트앞', '서연중학교', '명지대학교', '연희임광아파트', '홍남교남측', '명지전문대', '명지대학교교회', '남가좌파출소', '연희어린이공원', '남가좌동현대아파트', '연가초등학교', '증산역 1번', '가좌역 3번', '모래내우체국', '북가좌2동주민센터', '증산3교남측', '북가좌초등학교', '하나고등학교', '불광중학교', '녹번동근린공원', '불광역 3번', '우리은행응암동지점', '불광역 8번', '은평구청', '연신내우체국', '역촌역 3번', '연천초등학교', '연신초등학교', '불광역 7번', '연신내역 3번', '연신내역 2번', '응암1동주민센터', '은평세무서', '역촌역 2번', '백련산해모로아파트', '세명컴퓨터고등학교', '구산역 1번', '연신내역 4번', '응암동우체국', '신진과학기술고등학교', '응암정보도서관', '응암역 3번', '은평요양병원', '구산역 2번', '연신내역 7번', '연신내역 5번', '응암3동주민센터', '갈현건영아파트', '새절역 2번', '구산역 4번', '응암역 2번', '선일여고', '예일여고', '구산보건지소', '역촌노인복지관', '선정중학교', '신사1동주민센터', '새절역 3번', '증산역 4번', '시립서북병원', '증산역 3번', '상신초등학교입구', '구산초등학교', '내를건너서숲으로도서관', '덕산중학교', '수색성당', '수색역 1번', '화랑대철도공원', '영신여고', '상계3동4동주민센터', '당고개역 5번', '경춘선숲길 우측', '당고개역 2번', '상계제일중학교', '서울과학기술대', '태릉입구역 4번', '공릉역 2번', '대진고등학교', '상계역', '중계초등학교', '공릉동 국수거리', '상계5동주민센터', '노원 을지대학교병원', '상계2동주민센터', '계상초등학교', '상계초등학교', '석계역 2번', '노원역 9번', '석계역 1번', '광운대역 1번', '수락산디자인거리', '광운대학교 남단', '월계역 3번', '노원초등학교', '수락산역 4번', '장석교회', '누원고등학교', '창동중학교', '도봉역 3번', '방학역 2번', '창동역 2번', '가인초등학교', '도봉역 2번', '도봉산역 1번', '방학역 1번', '신창초등학교', '방학1동주민센터', '도봉구 정병원', '도봉구민회관', '도봉구보건소', '창2동주민센터', '쌍문2동우체국', '도봉산입구', '쌍문역1번(쌍리단길)', '신한은행 방학동지점', '방학중학교', '국민은행방학지점', '발바닥공원', '샘말어린이공원', '방학초등학교', '한일병원', '도봉우체국', '쌍문초등학교', '연산군묘', '효문고등학교', '문이교', '덕성여대시반거리', '솔밭공원역 1번', '번동주공2단지', '강북문화정보도서관', 'KT&G 북부지사', '송중동주민센터', '미아사거리역 3번', '수송초등학교', '서울북부고용노동지청', '송중초등학교', '수유역 2번', '강북중학교', '삼양입구사거리', '도봉세무서', '성신여대운정그린캠퍼스', '송천초등학교', '강북구청', '광산사거리', '미아역 5번', '미아역 8번', '송천동주민센터', '우이천 계성교', '삼양사거리역 1번', '수유초등학교', '수유시장옆', '인수동 우편취급국', '가오리역 1번', '덕수교', '삼양사거리역 2번', '삼각산119안전센터', '수유동우체국', '수유1동주민센터', '수유북부시장옆', '가오리역 2번', '화계역 2번', '강북문화예술회관', '구세군강북종합사회복지관', '4.19민주묘지역 2번', '솔밭공원역 2번', '화계중학교', '무너미어린이공원', '국립재활원', '북한산우이역 2번', '인수중학교', '국립4.19민주묘지', '인수초등학교', '아카데미하우스', '석관고등학교', '석계역 7번', '석관중앙교회', '돌곶이역 5번', '돌곶이역 3번', '돌곶이역 8번', '돌곶이역 1번', '우리은행체육관', '상월곡역 3번', '상월곡역 2번', '장위동성당', '장곡초등학교', '월곡역 4번', '상월곡역 1번', '장위1동주민센터', '동덕여대', 'KB국민은행 종암동지점', '종암동주민센터', 'KT월곡지사', '종암중학교', '숭곡초등학교', '종암아이파크2차', '종암경찰서', '안암역 3번', '안암역 2번', '종암아이파크2차후문', '길음역 10번', '대광초등학교', '길음역 8번', '길음역 7번', '미아초등학교', '보문역 5번', '보문역 4번', '성신여대입구역 1번', '보문역 8번', '성신여대입구역 7번', '삼선동주민센터', '정릉역 1번', '솔숲어린이공원', '경동고등학교', '성신여대입구역 4번', '정릉우체국', '서경대학교', '삼선중학교', '정릉역 2번', '한성대입구역 3번', '북한산보국문역 1번', '북한산보국문역 2번', '동구여중', '정릉3동주민센터', '한성대입구역 5번', '홍대부중', '정릉북한산국립공원입구', '성북초등학교앞', '국민대학교앞', '길상사', '북정마을', '신내역 2번', '망우본동주민센터', '러스크서울병원', '신내IC북측', '하나은행 망우동지점', '서일대학교', '장스여성병원', '신내1동주민센터', '신내역 1번', '혜원여고', '용마문화복지센터', '망우3동주민센터', '망우역 2번', '면목동우체국', '망우역 1번', '면목역 2번', '면목역 1번', '상봉역 3번', '사가정역 4번', '면목역 3번', '사가정역 1번', '면동초등학교', '상봉역 7번', '면목2동체육관', '상봉역 4번', '오거리공원', '중곡초등학교', '장안제일시장', '장안중학교', '화랑대역 7번', '중화역 1번', '먹골파출소', '먹골역 1번', '월드순복음교회', 'KB국민은행 중화동지점', '중화역 4번', '중랑노인종합복지관', '면목5동주민센터', '먹골역 5번', '태릉시장 특화거리', '중랑역 2번', '배꽃어린이공원', '메가박스 상봉', '신묵초등학교', '세화어린이공원', '중랑역 4번', '중랑역 1번', '동대부고', '장안교', '장안현대홈타운1차아파트', '장평중학교', '장안근린공원', '답십리공원', '장안1동주민센터', '촬영소사거리', '외대앞역 2번', '군자초등학교', '회기역 2번', '의릉', '외대앞역 1번', '삼육보건대학교', '답십리사거리', '자동차부품상가', '전농중학교', '회기역 1번', '경희대후문', '청량초등학교', '답십리초등학교', '전곡마을마당공원', '서울시립대', '답십리 장령당공원', '시조사삼거리', '시립대앞사거리', '텃골근린공원', '경희대삼거리', '간데메공원', '떡전교사거리', '전농1동주민센터(전농시장)', '전농119안전센터', '동대문경찰서', '홍릉시장', '동대문중앙새마을금고본점', '세종대왕기념관교차로', '홍릉근린공원', '동대문구청', '홍파초등학교', '고려대역 4번', '동의보감타워', '고려대역 6번', '고대앞사거리', '제기동역 1번', '용두동신동아아파트', '제기동역 6번', '종암초등학교', '용두초등학교', '용두사거리', '한국의류시험연구원', '용두희망어린이공원', '신설동역 9번', '광진정보도서관', '광나루역 1번', '장로회신학대학교', '동의초등학교', '해오름공원', '푸른동산공원', '아차산역 1번', '구남초등학교', '광진초등학교', '중곡4동주민센터', '동대부여고', '성동초등학교', '대원고등학교', '용마초등학교', '구의1동주민센터', '국립정신건강센터', '아차산역 5번', '성자초등학교', '군자역 4번', '중곡역 3번', '광진경찰서', '구의역 4번', '중곡3동주민센터', '자양동우체국', '군자역 5번', '광진구청', '광진정말공원', '중곡1동주민센터', '중곡어린이공원', '자양한강도서관', '중곡1동 마을마당', '세종대학교', '어린이대공원역 3번', '능동우편취급국', '신자초등학교', '장안초등학교', '어린이대공원역 4번', '뚝섬유원지역 1번', '화양사거리', '건대입구역 1번', '건대입구역 6번', '자양4동주민센터', '송정체육공원', '성수초등학교', '경수초등학교', '성동세무서', '성수119안전센터', '서울교통공사', '성수2가3동주민센터', '성수동카페거리', '답십리역 6번', '성원어린이공원', '성원중학교', '성수1가1동주민센터', '서울숲역 1번', '사근동살곶이상점가', '뚝섬역교차로', '마장역 3번', '마장역 2번', '한양대역 4번', '서울숲카페거리', '마장지하차도', '왕십리역 9번', '성동구보건소', '청계천박물관', '상왕십리역 3번', '왕십리파출소', '응봉산', '행당역 2번', '대현산장미원', '상왕십리역 6번', '금호삼성래미안아파트', '성동구립금호도서관', '금호사거리', '금북초등학교', '금동어린이공원', '신금호역 4번', '옥수터널', '옥수역 6번', '옥정중학교', '옥수동우편취급국', '유엔빌리지길', '서울독일학교', '한남초등학교', '한남힐사이드아파트', '한강진역 3번', '오산중학교', '우사단길', 'NH농협은행 보광동지점', '리움미술관', '한국폴리텍대학서울정수캠퍼스', '서빙고동주민센터', '오산고등학교', '이태원엔틱가구거리', '이태원역 북측', '경리단길남측', '경리단길북측', '서빙고역 1번', '용산구청', '해방촌 남동측', '해방촌예술마을', '후암동주민센터', '이촌동점보아파트', '삼광초등학교', '삼각지역 14번', '숙대입구역 1번', '서울역 12번', '삼각지역 3번', '열정도', '한강미주맨션아파트', '용산세무서', '숙대입구', '남영역 1번', '배문고등학교', '서울역 15번', '남정초등학교', '효창공원앞역 2번', '효창공원앞역 5번', '한강로동땡땡거리(은행나무길)', '효창동주민센터', '효창공원앞역 6번', '새남터성지', '성심여자고등학교', '황학코아루아파트', '신당역 3번', '황학동벼룩시장', '청구역 3번', '청구역 1번', '장충초등학교', '한양공고앞 교차로', '약수역 7번', '장충단 고개', '장충동주민센터', '다산성곽길', '버티고개', '동대문역사문화공원역 5번', '관성묘', '충무초등학교', '남산골공원옆', '남산케이블카', '중구회현체육센터(정화예술대남산캠퍼스)', '회현역 1번', '경향신문사', '신설동역 12번', '동묘앞역 3번', '동묘앞역 2번', '창신1동주민센터', '창신역 4번', '수족관거리', '창신역 1번', '동대문역 3번', '동대문역 1번', '이화달팽이길', '혜화역 1번', '종로5가역 4번', '충신시장옆', '혜회동주민센터', '서울대병원', '경신고등학교', '성균관대학교', '서울국제고등학교', '창덕궁', '중앙고등학교', '정독도서관', '평창동동측', '청와대사랑채', '경복고등학교', '체부동홍종문가옥', '성곡미술관', '청운초등학교', '평창동서측', '자하문터널', '배화여자대학교(박노수미술관)', '사직공원(한국사회과학도서관)', '부암동주민센터', '세검정', '대신고등학교', '세검정초등학교', '독립문역 1번', '이북5도청사', '종로4가지하쇼핑센터']

In [7]:
df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [7]:
len(df['상권_코드'].unique())

1650

In [8]:
df2 = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding='cp949')
df2

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [9]:
df_code = list(df['상권_코드'].unique())
df2_code = list(df2['상권_코드'].unique())

__

In [11]:
상권 = list(df['상권_코드_명'].unique())
len(상권)

1650

In [12]:
len(df2['상권_코드'].unique())

1671

In [10]:
df2.columns

Index(['기준_년월_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '엑스좌표_값',
       '와이좌표_값', '시군구_코드', '행정동_코드', '형태정보'],
      dtype='object')

In [11]:
df3 = df.merge(df2, how='left', on= '상권_코드')

df3.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드_x,상권_구분_코드_명_x,상권_코드,상권_코드_명_x,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,점포수,기준_년월_코드,상권_구분_코드_y,상권_구분_코드_명_y,상권_코드_명_y,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,15623999,130,...,6,202112,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8761157030,5252,...,6,202112,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1002103834,19369,...,5,202112,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,290779648,2242,...,6,202112,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300024,운동/경기용품,1594646019,2204,...,12,202112,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN

In [12]:
!pip install pyproj

Requirement already satisfied: pyproj in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (3.4.1)
Requirement already satisfied: certifi in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (from pyproj) (2022.9.24)

### 좌표 변환하기

In [13]:
import pyproj
import numpy as np

In [14]:
def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

In [15]:
geo = df3[['엑스좌표_값', '와이좌표_값']]
geo

       엑스좌표_값  와이좌표_값
0      205310  445727
1      205310  445727
2      205310  445727
3      205310  445727
4      205310  445727
...       ...     ...
68863  196193  456641
68864  196193  456641
68865  196193  456641
68866  196193  456641
68867  196193  456641

[68868 rows x 2 columns]

In [16]:
geo['엑스좌표_값'] = pd.to_numeric(geo['엑스좌표_값'], errors="coerce")
geo['와이좌표_값'] = pd.to_numeric(geo['와이좌표_값'], errors="coerce")

geo = geo.dropna()
geo.index=range(len(geo))
geo.tail()

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_24225/2654933565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geo['엑스좌표_값'] = pd.to_numeric(geo['엑스좌표_값'], errors="coerce")
/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_24225/2654933565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geo['와이좌표_값'] = pd.to_numeric(geo['와이좌표_값'], errors="coerce")

       엑스좌표_값  와이좌표_값
68863  196193  456641
68864  196193  456641
68865  196193  456641
68866  196193  456641
68867  196193  456641

In [17]:
# DataFrame -> NumPy Array 변환
coord = np.array(geo)
coord

array([[205310, 445727],
       [205310, 445727],
       [205310, 445727],
       ...,
       [196193, 456641],
       [196193, 456641],
       [196193, 456641]])

In [18]:
# 좌표계 정보 설정EPSG5181
p1_type = "epsg:5181"
p2_type = "epsg:4326"

# project_array() 함수 실행
result = project_array(coord, p1_type, p2_type)
result

/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_24225/2093212355.py:10: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

array([[127.0600594 ,  37.51100291],
       [127.0600594 ,  37.51100291],
       [127.0600594 ,  37.51100291],
       ...,
       [126.95688383,  37.60934511],
       [126.95688383,  37.60934511],
       [126.95688383,  37.60934511]])

In [19]:
df3['경도'] = result[:, 0]
df3['위도'] = result[:, 1]

In [43]:
df3.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드_x,상권_구분_코드_명_x,상권_코드,상권_코드_명_x,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,상권_구분_코드_y,상권_구분_코드_명_y,상권_코드_명_y,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,경도,위도
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,15623999,130,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8761157030,5252,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1002103834,19369,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,290779648,2242,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300024,운동/경기용품,1594646019,2204,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003

### 주소 불러오기

In [16]:
! pip install geopy

Requirement already satisfied: geopy in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/parkdahye/opt/miniconda3/lib/python3.9/site-packages (from geopy) (2.0)

In [105]:
# 가입 없이 좌표->주소 변환
from geopy.geocoders import Nominatim

def geocoding_reverse(lat, lng): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    lat_lng_str = str(lat) + ', ' + str(lng) 
    address = geolocoder.reverse(lat_lng_str)

    return address


def geocoding_reverse_str(lat_lng_str): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    address = geolocoder.reverse(lat_lng_str)

    return address

# address = geocoding_reverse('36.5760732781656, 128.15935928504484')
# print(address)

In [30]:
# 카카오API를 사용하여 좌표->주소 변환
import requests, json, pprint

def get_address_str(latlng):
    lat = latlng.split(', ')[0]
    lng = latlng.split(', ')[1]
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
    # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
    headers = {"Authorization": "KakaoAK 2931a196f8f4c4b420c8fc087ebb7607"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)
    
    address = sigungu = full_address['documents'][0]['address_name']

    return  address


def get_address(lat, lng):
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
    # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
    headers = {"Authorization": "KakaoAK 2931a196f8f4c4b420c8fc087ebb7607"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)
    # sigungu = full_address['documents'][0]['region_2depth_name']

    address = sigungu = full_address['documents'][0]['address_name']

    return  address

full_address = get_address('37.51100291', '127.0600594')
full_address
# pprint.pprint(full_address)
# full_address = get_address(str(x), str(y))
# full_address['documents'][0]['region_2depth_name']
# get_address(str(x), str(y))

# get_address_str(str(x) + ', '+ str(y))

'서울특별시 강남구 삼성동'

In [176]:
# # 카카오API를 사용하여 좌표->주소 변환
# import requests, json, pprint

# def get_address_str(latlng):
#     lat = latlng.split(', ')[0]
#     lng = latlng.split(', ')[1]
#     url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
#     # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
#     # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
#     headers = {"Authorization": "KakaoAK 2931a196f8f4c4b420c8fc087ebb7607"}
#     api_json = requests.get(url, headers=headers)
#     full_address = json.loads(api_json.text)
    
#     sigungu = full_address['documents'][0]['region_2depth_name']

#     return  sigungu


# def get_address(lat, lng):
#     url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
#     # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
#     # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
#     headers = {"Authorization": "KakaoAK 2931a196f8f4c4b420c8fc087ebb7607"}
#     api_json = requests.get(url, headers=headers)
#     full_address = json.loads(api_json.text)
    
#     sigungu = full_address['documents'][0]['region_2depth_name']

#     return  sigungu

# # full_address = get_address('36.5760732781656', '128.15935928504484')
# # pprint.pprint(full_address)
# # full_address = get_address(str(x), str(y))
# # full_address['documents'][0]['region_2depth_name']
# get_address(str(x), str(y))
# get_address_str(str(x) + ', '+ str(y))

'강남구'

In [31]:
x = df3.loc[0, '위도'] 
y = df3.loc[0, '경도'] 
print(x, y)

37.511002913176945 127.06005939988393

In [32]:
print(str(x)+', '+ str(y))

37.511002913176945, 127.06005939988393

In [34]:
address = get_address_str(str(x)+', '+ str(y))
print(address)

서울특별시 강남구 삼성동

In [35]:
# df_e = df3.head()
# df_e['주소'] = df_e.apply(lambda x: geocoding_reverse(x['위도'], x['경도'])[0], axis=1)

NameError: name 'geocoding_reverse' is not defined

In [36]:
df_e

,기준_년_코드,기준_분기_코드,상권_구분_코드_x,상권_구분_코드_명_x,상권_코드,상권_코드_명_x,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,상권_구분_코드_y,상권_구분_코드_명_y,상권_코드_명_y,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,경도,위도
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,15623999,130,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
1,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8761157030,5252,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1002103834,19369,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
3,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,290779648,2242,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003
4,2022,2,U,관광특구,1001496,강남 마이스 관광특구,CS300024,운동/경기용품,1594646019,2204,...,U,관광특구,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003

In [37]:
df_tem = df3[['위도', '경도']]
df_tem

              위도          경도
0      37.511003  127.060059
1      37.511003  127.060059
2      37.511003  127.060059
3      37.511003  127.060059
4      37.511003  127.060059
...          ...         ...
68863  37.609345  126.956884
68864  37.609345  126.956884
68865  37.609345  126.956884
68866  37.609345  126.956884
68867  37.609345  126.956884

[68868 rows x 2 columns]

In [38]:
df_tem['위도'] = df_tem['위도'].astype(object)
df_tem['경도'] = df_tem['경도'].astype(object)

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_24225/3626235792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tem['위도'] = df_tem['위도'].astype(object)
/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_24225/3626235792.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tem['경도'] = df_tem['경도'].astype(object)

In [40]:
df_tem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68868 entries, 0 to 68867
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   위도      68868 non-null  object
 1   경도      68868 non-null  object
dtypes: object(2)
memory usage: 3.6+ MB

In [41]:
def strplus(a, b):
    re = str(a) + ', ' + str(b)
    return re

In [42]:
df_tem['위도경도'] = df_tem.apply(lambda x : strplus(x['위도'], x['경도']), axis=1)

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_24225/3824574207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tem['위도경도'] = df_tem.apply(lambda x : strplus(x['위도'], x['경도']), axis=1)

In [43]:
lanlon = df_tem['위도경도'].unique()
lanlon

array(['37.511002913176945, 127.06005939988393',
       '37.51647607488473, 127.11527494608232',
       '37.56999760824763, 126.9973738673892', ...,
       '37.575540011184756, 126.95720897970612',
       '37.609345109665576, 126.95688383119668',
       '37.569610190233455, 126.9978719380448'], dtype=object)

In [44]:
lanlon_df = pd.DataFrame()
lanlon_df['위도경도'] = lanlon

In [45]:
lanlon_df

                                        위도경도
0     37.511002913176945, 127.06005939988393
1      37.51647607488473, 127.11527494608232
2       37.56999760824763, 126.9973738673892
3      37.567312155725965, 127.0110248333143
4     37.564148780123666, 126.98185620077636
...                                      ...
1645   37.57328868813124, 126.96054967804893
1646  37.604489459823775, 126.95880051845464
1647  37.575540011184756, 126.95720897970612
1648  37.609345109665576, 126.95688383119668
1649   37.569610190233455, 126.9978719380448

[1650 rows x 1 columns]

In [112]:
# %%time

# lanlon_df.head().apply(lambda x : geocoding_reverse_str(x['위도경도']), axis=1)

CPU times: user 74.6 ms, sys: 27.9 ms, total: 102 ms
Wall time: 2.56 s

0    (코엑스, 삼성로100길, 삼성동, 강남구, 서울, 06164, 대한민국, (37....
1    (한성백제역 1번출구, 위례성대로, 방이2동, 송파구, 서울, 05627, 대한민국...
2    (창경궁로11길, 종로3가, 종로1·2·3·4가동, 종로구, 서울, 03194, 대...
3    (서울성곽, 마장로, 동대문패션타운, 신당동, 중구, 서울, 04563, 대한민국,...
4    (롯데화랑, Myeongdong Underground Shopping Center,...
dtype: object

In [179]:
(1650 / 5 ) * 0.5 / 60

2.75

In [46]:
lanlon_df.head().apply(lambda x : get_address_str(x['위도경도']), axis=1)

0     서울특별시 강남구 삼성동
1     서울특별시 송파구 방이동
2     서울특별시 종로구 예지동
3    서울특별시 중구 을지로7가
4      서울특별시 중구 소공동
dtype: object

In [48]:
lanlon_df['주소'] = lanlon_df.apply(lambda x : get_address_str(x['위도경도']), axis=1)

In [49]:
lanlon_df

                                        위도경도              주소
0     37.511002913176945, 127.06005939988393   서울특별시 강남구 삼성동
1      37.51647607488473, 127.11527494608232   서울특별시 송파구 방이동
2       37.56999760824763, 126.9973738673892   서울특별시 종로구 예지동
3      37.567312155725965, 127.0110248333143  서울특별시 중구 을지로7가
4     37.564148780123666, 126.98185620077636    서울특별시 중구 소공동
...                                      ...             ...
1645   37.57328868813124, 126.96054967804893   서울특별시 종로구 행촌동
1646  37.604489459823775, 126.95880051845464   서울특별시 종로구 신영동
1647  37.575540011184756, 126.95720897970612   서울특별시 종로구 무악동
1648  37.609345109665576, 126.95688383119668   서울특별시 종로구 구기동
1649   37.569610190233455, 126.9978719380448   서울특별시 종로구 예지동

[1650 rows x 2 columns]

In [119]:
# lanlon_df['주소'] = lanlon_df.apply(lambda x : geocoding_reverse_str(x['위도경도'])[0], axis=1)

In [50]:
def strplus(a, b):
    re = str(a) + ', ' + str(b)
    return re

df3['위도경도'] = df3.apply(lambda x : strplus(x['위도'], x['경도']), axis=1)

In [51]:
df4 = df3.merge(lanlon_df, how='left', on = '위도경도')

In [52]:
df4.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_x', '상권_구분_코드_명_x', '상권_코드',
       '상권_코드_명_x', '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수',
       '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율',
       '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', '기준_년월_코드', '상권_구분_코드_y',
       '상권_구분_코드_명_y', '상권_코드_명_y', '엑스좌표_값', '와이좌표_값', '시군구_코드', '행정동_코드',
       '형태정보', '경도', '위도', '위도경도', '주소'],
      dtype='object')

In [55]:
df4 = df4[['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명_x', '상권_코드_명_x' , '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수',
       '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율',
       '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', '기준_년월_코드',
       '주소']]

In [158]:
# df4['시군구'] = df4.apply(lambda x : [a for a in x['주소'].split(', ') if a.endswith('구')] , axis=1)

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_76554/3249478069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['시군구'] = df4.apply(lambda x : [a for a in x['주소'].split(', ') if a.endswith('구')] , axis=1)

In [56]:
df4['주소'].value_counts()

서울특별시 관악구 신림동       1829
서울특별시 강서구 화곡동       1532
서울특별시 중랑구 면목동       1190
서울특별시 관악구 봉천동       1163
서울특별시 양천구 신월동       1091
                    ...
서울특별시 서초구 원지동          9
서울특별시 성북구 돈암동          6
서울특별시 종로구 효자동          4
서울특별시 서초구 내곡동          2
서울특별시 영등포구 문래동2가       2
Name: 주소, Length: 324, dtype: int64

In [60]:
df4['주소'].str.split(' ')[0]

['서울특별시', '강남구', '삼성동']

In [61]:
df4['주소'].str.split(' ')

0        [서울특별시, 강남구, 삼성동]
1        [서울특별시, 강남구, 삼성동]
2        [서울특별시, 강남구, 삼성동]
3        [서울특별시, 강남구, 삼성동]
4        [서울특별시, 강남구, 삼성동]
               ...
68863    [서울특별시, 종로구, 구기동]
68864    [서울특별시, 종로구, 구기동]
68865    [서울특별시, 종로구, 구기동]
68866    [서울특별시, 종로구, 구기동]
68867    [서울특별시, 종로구, 구기동]
Name: 주소, Length: 68868, dtype: object

In [64]:
df4['시군구'] = df4.apply(lambda x : x['주소'].split(' ')[1], axis=1 )
df4['시군구']

0        강남구
1        강남구
2        강남구
3        강남구
4        강남구
        ...
68863    종로구
68864    종로구
68865    종로구
68866    종로구
68867    종로구
Name: 시군구, Length: 68868, dtype: object

In [65]:
df4['동'] = df4.apply(lambda x : x['주소'].split(' ')[2], axis=1 )
df4['동']

0        삼성동
1        삼성동
2        삼성동
3        삼성동
4        삼성동
        ...
68863    구기동
68864    구기동
68865    구기동
68866    구기동
68867    구기동
Name: 동, Length: 68868, dtype: object

In [67]:
df4.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드_명_x,상권_코드_명_x,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,...,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,기준_년월_코드,주소,시군구,동
0,2022,2,관광특구,강남 마이스 관광특구,CS300032,가전제품,15623999,130,100,0,...,0,0,0,0,130,6,202112,서울특별시 강남구 삼성동,강남구,삼성동
1,2022,2,관광특구,강남 마이스 관광특구,CS300031,가구,8761157030,5252,45,55,...,35,323,1117,1568,2102,6,202112,서울특별시 강남구 삼성동,강남구,삼성동
2,2022,2,관광특구,강남 마이스 관광특구,CS300028,화초,1002103834,19369,68,33,...,4923,6172,3849,1886,766,5,202112,서울특별시 강남구 삼성동,강남구,삼성동
3,2022,2,관광특구,강남 마이스 관광특구,CS300026,완구,290779648,2242,65,35,...,560,647,742,116,120,6,202112,서울특별시 강남구 삼성동,강남구,삼성동
4,2022,2,관광특구,강남 마이스 관광특구,CS300024,운동/경기용품,1594646019,2204,91,9,...,0,43,278,429,1305,12,202112,서울특별시 강남구 삼성동,강남구,삼성동

In [145]:
# df4['시군구'].value_counts()

서울              32098
강남구              2260
송파구              1718
중구               1527
서초구              1524
                ...
신사1동                7
03114               6
신림 주공아파트 2단지        5
02560               4
내곡동                 2
Name: 시군구, Length: 196, dtype: int64

In [69]:
df4.to_csv('서울시 상권분석 데이터 매출_주소.csv', index=False, encoding='cp949')

In [58]:
la = df3[['위도', '경도']]
la

              위도          경도
0      37.511003  127.060059
1      37.511003  127.060059
2      37.511003  127.060059
3      37.511003  127.060059
4      37.511003  127.060059
...          ...         ...
68863  37.609345  126.956884
68864  37.609345  126.956884
68865  37.609345  126.956884
68866  37.609345  126.956884
68867  37.609345  126.956884

[68868 rows x 2 columns]

In [50]:
la = df3[['위도', '경도']]

la['위도'] = pd.to_numeric(geo['위도'], errors="coerce")
la['경도'] = pd.to_numeric(geo['경도'], errors="coerce")

la = la.dropna()
la.index=range(len(la))
la.tail()

/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_76554/3867546616.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  la['위도'] = pd.to_numeric(geo['위도'], errors="coerce")
/var/folders/g8/bg0h24y523q9pwn2yvvhsc900000gn/T/ipykernel_76554/3867546616.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  la['경도'] = pd.to_numeric(geo['경도'], errors="coerce")

              위도          경도
68863  37.609345  126.956884
68864  37.609345  126.956884
68865  37.609345  126.956884
68866  37.609345  126.956884
68867  37.609345  126.956884

In [51]:
coord = np.array(la)
coord

array([[ 37.51100291, 127.0600594 ],
       [ 37.51100291, 127.0600594 ],
       [ 37.51100291, 127.0600594 ],
       ...,
       [ 37.60934511, 126.95688383],
       [ 37.60934511, 126.95688383],
       [ 37.60934511, 126.95688383]])